@charset "utf-8";
/* CSS Document */

body{
	width: 100%;
}
.navbar-brand{
	font-weight: bold;
}
.navbar-brand img{
	height: 40px;
	width: 50px;
	border-radius: 10px;
}
ul li a{
	transition: 0.5s ease;
	font-size: 30px;
	font-weight: bold;
}
ul li a:hover{
	background-color: rgb(7, 129, 211);
	cursor: pointer;
}
.my-0  input:focus{
	width: 450px;
	border-radius: 20px;
}
.btn .fa.fa-sm{
	font-size: 1rem;
	margin-top: -5px;
}
#navHolder{
	background: rgba(255, 255, 255, 0.2);
	position: fixed;
	height: 10%;
	width: 100%;
	z-index: 10;
}
.sticky{
	position: sticky;
	top: 0%;
	z-index: 2;
	margin-top: -3%;
}
.posi1{
	margin-bottom: 38%;
}
#carousel-example-2{
    position: absolute;
    width:100%;
    top:0;
}
.form-group{
	font-size: 30px;
}
.container h6{
	font-size: 20px;
	line-height: 30px;
	justify-content: 20px;
}