@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
	padding: 0;
	background: url("../images/loginBackground.jpg");
	background-size: cover;
	font-family: sans-serif;
}
.signupbox{
	width: 500px;
	height: 715px;
	background: #22266C;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	/*box-sizing: border-box;*/
	padding: 50px 30px;
	border-radius: 20px;
	box-shadow: 10px 10px 10px black;
	text-align: center;
}
.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -10%;
	left: calc(50% - 50px);
}
h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 35px;
}
.signupbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 20px;
	color: green;
}
.signupbox input{
	width: 75%;
	margin-bottom: 20px;
	text-align: center;
	border-radius: 20px;
}
.signupbox input:focus{
	width: 100%;
	transition: 1.0s;
}
.signupbox input[type="text"], input[type="email"], input[type="password"]{
	height: 35px;
	border: none;
	border-bottom: 2px solid #000000;
	background: transparent;
	outline: none;
	color: #fff;
	font-size: 15px;
}
.signupbox input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 10px;
	width: 45%;
	float: right;
}
.signupbox input[type="submit"]:hover{
	cursor: pointer;
	background: #cf1616;
	color: #000;
	border-radius: 30px;
	transition: 0.8s;
}
#TnC{
	text-align-last: center;
}
#TnC p{
	font-size: 15px;
}
#TnC a{
	color: #fb2525;
}
#TnC a:hover{
	color: #fff;
	text-decoration: underline;
}
.end{
	text-align-last: right;
	padding-top: 15px;
}
.end p{
	font-size: 15px;
	color: green;
}
.end a{
	color: black;
	text-decoration: underline;
}
.end a:hover{
	color: green;
}
/*Navbar code*/
#navHolder{
	background: rgba(0, 0, 0, 0.2);
	position: fixed;
	height: 10%;
	width: 100%;
	z-index: 10;
}
.navbar-brand{
	font-weight: bold;
}
.navbar-brand img{
	height: 40px;
	width: 50px;
	border-radius: 10px;
}
ul li a{
	transition: 0.5s ease;
	font-size: 30px;
	font-weight: bold;
}
ul li a:hover{
	background-color: black;
	cursor: pointer;
}
.errorMessage{
	height: 5px;
	color: red;
	font-size: 15px;
	padding: -5px;
}