@charset "utf-8";
/* CSS Document */

body{
	
	font-family: sans-serif;
	background: url(../images/loginBackground.jpg);
	background-size: cover;
}
body.background{
	background-color: #ffffff;
	opacity: 0.8;
}
.global{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -10%;
	left: calc(50% - 50px);
}
.boxer{
	width: 500px;
	padding: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #1A1964;
	text-align: center;
	border-radius: 20px;
	box-shadow: 10px 10px 10px black;
}
.boxer h1{
	color: white;
	text-transform: uppercase;
	font-weight: bold;
}
.boxer h3{
	color: green;
}
.boxer input[type="email"], input[type="password"]{
	border: none;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 15px 10px;
	width: 75%;
	outline: none;
	color: white;
	border-radius: 25px;
	transition: 0.25s;
}
.boxer input[type="email"]:focus, input[type="password"]:focus{
	width: 100%;
	border-color: green;
	transition: 1.2s;
}
.boxer input[type="submit"]{
	border: none;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 5px solid green;
	padding: 15px 40px;
	outline: none;
	color: white;
	border-radius: 20px;
	transition: 0.25s;
	cursor: pointer;
}
.boxer input[type="submit"]:hover{
	background: green;
	border-radius: 35px;
	transition: 0.8s;
}
.boxer a{
	color: white;
}
.boxer a:hover{
	color: #000;
}

/*Navbar css*/
#navHolder{
	background: rgba(0, 0, 0, 0.2);
	position: fixed;
	height: 10%;
	width: 100%;
	z-index: 10;
}
.navbar-brand{
	font-weight: bold;
}
.navbar-brand img{
	height: 40px;
	width: 50px;
	border-radius: 10px;
}
ul li a{
	transition: 0.5s ease;
	font-size: 30px;
	font-weight: bold;
}
ul li a:hover{
	background-color: black;
	cursor: pointer;
}
#loginError{
	height: 5px;
	color: red;
	font-size: 15px;
}	